# Diretórios de build
target/
!target/*.jar

# IDEs
.idea/
.vscode/
*.iml

# Logs
*.log

# Sistema operacional
.DS_Store
Thumbs.db

# Git
.git/
.gitignore

# Docker
Dockerfile
.dockerignore

# Outros
README.md
