<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <!-- Define log file location -->
    <property name="LOG_FILE" value="logs/portal.log"/>
    <property name="FILE_NAME_PATTERN" value="logs/portal"/>
    <property name="CONSOLE_LOG_PATTERN"
              value="%d{yyyy-MM-dd HH:mm:ss.SSS} | %highlight(%-5p) | %cyan(%-40.40logger{39}) : %m%n"/>
    <property name="FILE_LOG_PATTERN"
              value="%d{yyyy-MM-dd HH:mm:ss.SSS} | %-5p | %-40.40logger{39} : %m%n"/>
    <property name="CHARSET"
              value="UTF-8"/>

    <!-- Console Appender with Colors -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>${CONSOLE_LOG_PATTERN}</pattern>
            <charset>${CHARSET}</charset>
        </encoder>
    </appender>

    <!-- Rolling File Appender -->
    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_FILE}</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${FILE_NAME_PATTERN}-%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <maxHistory>5</maxHistory>
            <totalSizeCap>1GB</totalSizeCap>
            <maxFileSize>10MB</maxFileSize>
        </rollingPolicy>
        <encoder>
            <pattern>${FILE_LOG_PATTERN}</pattern>
            <charset>${CHARSET}</charset>
        </encoder>
    </appender>

    <!-- Google Cloud Logging Appender -->
    <appender name="CLOUD" class="com.google.cloud.logging.logback.LoggingAppender">
        <log>crud_pessoa_log</log>
        <resourceType>cloud_run_revision</resourceType>
        <enhancer>com.google.cloud.logging.logback.MDCEventEnhancer</enhancer>
    </appender>

    <springProfile name="default">
        <root level="INFO">
            <appender-ref ref="CONSOLE"/>
            <appender-ref ref="FILE"/>
        </root>
        <logger name="com.senai.prova" level="INFO"/>
    </springProfile>

    <springProfile name="dev">
        <root level="WARN">
            <appender-ref ref="CONSOLE"/>
        </root>
        <logger name="com.senai.prova" level="TRACE"/>
    </springProfile>

    <springProfile name="prod">
        <root level="WARN">
            <appender-ref ref="CLOUD"/>
        </root>
        <logger name="com.senai.prova" level="INFO"/>
    </springProfile>
</configuration>
